.about-me-section {
    padding: 100px 0;
    border: 2px solid #e0e0e0;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    .about-me-container {
        max-width: 1920px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;

        .stickers-side {
            border: 2px solid red;
            flex: 1;
            max-width: 800px;
            width: 100%;
            max-height: 650px;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        .text-side {
            border: 2px solid red;
            flex: 1;
            max-width: 800px;
            width: 100%;
            max-height: 650px;
            height: 100%;
        }
    }
}

@media (max-width: 1130px) {
    .about-me-container {
        flex-direction: column;
        gap: 60px;
        text-align: center;

        .stickers-side,
        .text-side {
            max-width: 100%;
        }
    }
}