<div class="tech-showcase-container">
    <div class="tech-icons-grid">
        <div *ngFor="let tech of techStack; let i = index" class="tech-icon-item"
            [style.animation-delay]="(i * 0.1) + 's'">
            <img [src]="'assets/img/' + tech.icon" [alt]="tech.alt" class="tech-icon" />
            <span class="tech-name">{{ tech.name }}</span>
        </div>
    </div>

    <div class="pull-to-peel-section" (click)="onPeelClick()">
        <img src="assets/img/pull-to-peel.webp" class="peel-image" [class.slide-away]="isPeeled" />

        <img src="assets/img/pull-to-peel-2.webp" class="peel-result" [class.visible]="isPeeled" />
    </div>
</div>