<nav class="navbar">
    <div class="logo">
        <img src="/assets/img/Property 1=Default-7.png" alt="Kay Dietrich Logo" />
    </div>

    <ul class="nav-links">
        <li>
            <a href="#about">About me
                <span class="image-hover about"></span>
            </a>
        </li>
        <li>
            <a href="#skills">Skills
                <span class="image-hover skills"></span>
            </a>
        </li>
        <li>
            <a href="#projects">Projects
                <span class="image-hover projects"></span>
            </a>
        </li>
        <li>
            <a href="#contact">Contact
                <span class="image-hover contact"></span>
            </a>
        </li>
    </ul>


    <div class="language-toggle">
        <span class="lang active">EN</span>
        <label class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
        </label>
        <span class="lang">DE</span>
    </div>
</nav>