<div class="title-section">
    <!-- Desktop Layout -->
    <div class="top-row" *ngIf="!isMobileLayout">
        <div class="top-content">
            <div class="hero-top-btn">
                <div class="title-hand" [ngClass]="handState">
                    <img src="assets/img/waving_hand-1.webp" alt="Waving Hand Alt" class="wave-hand-alt" />
                </div>
                <p class="HelloWorld" (mouseenter)="onPHover()" (mouseleave)="onPLeave()">{{ pText }}</p>
            </div>
            <h1 class="hero-text frontend">
                <span *ngFor="let c of frontend; let i = index" class="swap-char" (mouseenter)="onHover('frontend', i)"
                    (mouseleave)="onLeave('frontend', i)">
                    {{ hoveredFrontend[i] ? toggleCase(c) : c }}
                </span>
            </h1>
        </div>
        <div class="frame-container" (mouseenter)="onFrameHover()" (mouseleave)="onFrameLeave()">
            <img src="assets/img/frame-photo.webp" alt="Kay Dietrich" class="frame-image" width="204" height="244"
                fetchpriority="high" decoding="async" />
            <div class="frame-text">{{ frameText }}</div>
        </div>

    </div>


    <div *ngIf="isMobileLayout">
        <div class="top-content">
            <div class="hero-top-btn">
                <div class="title-hand" [ngClass]="handState">
                    <img src="assets/img/waving_hand-1.webp" alt="Waving Hand Alt" class="wave-hand-alt" />
                </div>
                <p class="HelloWorld" (mouseenter)="onPHover()" (mouseleave)="onPLeave()">{{ pText }}</p>
            </div>
            <h1 class="hero-text frontend">
                <span *ngFor="let c of frontend; let i = index" class="swap-char" (mouseenter)="onHover('frontend', i)"
                    (mouseleave)="onLeave('frontend', i)">
                    {{ hoveredFrontend[i] ? toggleCase(c) : c }}
                </span>
            </h1>
        </div>
    </div>

    <div class="lower-content">
        <h1 class="hero-text developer">
            <span *ngFor="let c of developer; let i = index" class="swap-char" (mouseenter)="onHover('developer', i)"
                (mouseleave)="onLeave('developer', i)">
                {{ hoveredDeveloper[i] ? toggleCase(c) : c }}
            </span>
        </h1>

        <button class="primary-btn" (click)="scrollToContact()">{{ buttonText }}</button>
    </div>

    <div class="frame-container" *ngIf="isMobileLayout" (mouseenter)="onFrameHover()" (mouseleave)="onFrameLeave()">
        <img src="assets/img/frame-photo.webp" alt="Kay Dietrich" class="frame-image" width="204" height="244"
            fetchpriority="high" decoding="async" />
        <div class="frame-text">{{ frameText }}</div>
    </div>

</div>