<nav class="navbar">
    <img src="assets/img/logo_kay.png" alt="Logo" class="logo-img" />

    <ul class="nav-links">
        <li>
            <a href="#about" class="nav-link" (click)="closeMobileMenu()">
                About me
                <div class="image-hover about"></div>
            </a>
        </li>
        <li>
            <a href="#skills" class="nav-link" (click)="closeMobileMenu()">
                Skills
                <div class="image-hover skills"></div>
            </a>
        </li>
        <li>
            <a href="#projects" class="nav-link" (click)="closeMobileMenu()">
                Projects
                <div class="image-hover projects"></div>
            </a>
        </li>
        <li>
            <a href="#contact" class="nav-link" (click)="closeMobileMenu()">
                Contact
                <div class="image-hover contact"></div>
            </a>
        </li>
        <li>
            <div class="language-toggle">
                <span class="lang nav-lang" [class.active]="currentLanguage === 'en'">EN</span>
                <label class="switch">
                    <input type="checkbox" [checked]="currentLanguage === 'de'" (change)="toggleLanguage()" />
                    <span class="slider"></span>
                </label>
                <span class="lang nav-lang" [class.active]="currentLanguage === 'de'">DE</span>
            </div>
        </li>
        <li class="mobile-social-icons">
            <div class="social-icons-container">
                <a href="https://linkedin.com" target="_blank">
                    <img src="assets/img/linkedin.png" alt="LinkedIn" />
                </a>
                <a href="https://github.com" target="_blank">
                    <img src="assets/img/github.png" alt="GitHub" />
                </a>
                <a href="mailto:deine@email.de">
                    <img src="assets/img/mail.png" alt="Mail" />
                </a>
            </div>
        </li>
    </ul>

    <button class="burger-menu" (click)="toggleMobileMenu()">
        <img src="assets/img/menu.png" alt="Menu" class="menu-icon">
    </button>
</nav>