<nav class="navbar">
    <video autoplay muted loop playsinline class="logo-video">
        <source src="assets/vid/logo-kay.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>

    <ul class="nav-links">
        <li>
            <a href="#about">About me
                <span class="image-hover about"></span>
            </a>
        </li>
        <li>
            <a href="#skills">Skills
                <span class="image-hover skills"></span>
            </a>
        </li>
        <li>
            <a href="#projects">Projects
                <span class="image-hover projects"></span>
            </a>
        </li>
        <li>
            <a href="#contact">Contact
                <span class="image-hover contact"></span>
            </a>
        </li>
        <li>
            <div class="language-toggle">
                <span class="lang" [class.active]="currentLanguage === 'en'">EN</span>
                <label class="switch">
                    <input type="checkbox" [checked]="currentLanguage === 'de'" (change)="toggleLanguage()" />
                    <span class="slider"></span>
                </label>
                <span class="lang" [class.active]="currentLanguage === 'de'">DE</span>
            </div>
        </li>
        <li class="mobile-social-icons">
            <div class="social-icons-container">
                <a href="https://linkedin.com" target="_blank">
                    <img src="assets/img/linkedin.png" alt="LinkedIn" />
                </a>
                <a href="https://github.com" target="_blank">
                    <img src="assets/img/github.png" alt="GitHub" />
                </a>
                <a href="mailto:deine@email.de">
                    <img src="assets/img/mail.png" alt="Mail" />
                </a>
            </div>
        </li>
    </ul>

    <button class="burger-menu" (click)="toggleMobileMenu()">
        <img src="assets/img/menu.png" alt="Menu" class="menu-icon">
    </button>


</nav>