<div class="app-wrapper">
  <main>
    <app-hero (languageChange)="onLanguageChange($event)" [currentLanguage]="selectedLanguage"></app-hero>
    <app-about-me [currentLanguage]="selectedLanguage"></app-about-me>
    <app-skill-set [currentLanguage]="selectedLanguage"></app-skill-set>
    <app-projects [currentLanguage]="selectedLanguage"></app-projects>
    <app-testimonials [currentLanguage]="selectedLanguage"></app-testimonials>
    <app-contact [currentLanguage]="selectedLanguage"></app-contact>
  </main>
  <app-footer [currentLanguage]="selectedLanguage"></app-footer>
</div>

<router-outlet></router-outlet>
