@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('assets/font/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Kalam';
  src: url('assets/font/Kalam-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

:root {
  --font-main: 'Bricolage Grotesque', sans-serif;
  --font-handwriting: 'Kalam', cursive;
}

:host {
  font-family: var(--font-main);
}

